@page
@model ShopModel

@{
    ViewData["Title"] = "Shop";
    Layout = "~/Pages/Shared/_UserLayout.cshtml";
}

<!-- Single Page Header start -->
<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Shop</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
        <li class="breadcrumb-item active text-white">Shop</li>
    </ol>
</div>
<!-- Single Page Header End -->
<!-- Fruits Shop Start-->
<div class="container-fluid fruite py-5">
    <div class="container py-5">
        <h1 class="mb-4">Organic shop</h1>
        <div class="row g-4">
            <div class="col-lg-12">
                <div class="row g-4">
                    <div class="col-xl-3">
                        <form method="get">
                        <div class="input-group w-100 mx-auto d-flex">
                            <input type="search" class="form-control p-3" placeholder="keywords" aria-describedby="search-icon-1" name="search">
                            <button id="search-icon-1" class="input-group-text p-3" type="submit"><i class="fa fa-search"></i></button>
                        </div>
                        </form>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-xl-3">
                        <span>Page: @Model.CurrentPage</span>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-lg-3">
                        <div class="row g-4">
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4>Categories</h4>
                                    <ul class="list-unstyled fruite-categorie">
                                        <li>
                                            <div class="d-flex justify-content-between fruite-name">
                                                <a asp-page="Shop">All</a>
                                            </div>
                                        </li>
                                        @foreach (var item in Model.Categories)
                                        {
                                            <li>
                                                <div class="d-flex justify-content-between fruite-name">
                                                    <a asp-page="Shop" asp-route-cateFillter="@item.CaId">@item.CaName</a>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="mb-3">
                                    <h4 class="mb-2">Price</h4>
                                    <a asp-page="Shop" asp-route-PriceOrder="0" asp-route-cateFillter="@ViewData["cateTemp"]" asp-route-search="@ViewData["search"]" class="btn border border-secondary rounded-pill px-3 text-primary"> Low to High</a>
                                    <a asp-page="Shop" asp-route-PriceOrder="1" asp-route-cateFillter="@ViewData["cateTemp"]" asp-route-search="@ViewData["search"]" class="btn border border-secondary rounded-pill px-3 text-primary"> High to Low</a>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="position-relative">
                                    <img src="~/User/img/banner-fruits.jpg" class="img-fluid w-100 rounded" alt="">
                                    <div class="position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%);">
                                        <h3 class="text-secondary fw-bold">Organic <br> Foods <br> Banner</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row g-4 justify-content-center">
                            @foreach (var item in Model.Product)
                            {
                                <div class="col-md-6 col-lg-6 col-xl-4">
                                    <div class="rounded position-relative fruite-item">
                                        <div class="fruite-img">
                                            <a asp-page="Product_Details" asp-route-id="@item.ProductId"><img src="~/images/products/@item.Thumb" class="img-fluid rounded-top" width="336" height="235" alt=""></a>
                                        </div>
                                        <div class="text-white bg-secondary px-3 py-1 rounded position-absolute" style="top: 10px; left: 10px;">@item.Ca.CaName</div>
                                        <div class="p-4 border border-secondary border-top-0 rounded-bottom">
                                            <h4>@item.ProductName</h4>
                                            <p>@item.Description</p>
                                            <div class="d-flex justify-content-between flex-lg-wrap ">
                                                <p class="text-dark fs-5 fw-bold mb-0">@item.Price / kg</p>
                                                <a asp-page="ShoppingCart" asp-route-productId="@item.ProductId" class="btn border border-secondary rounded-pill px-3 text-primary"><i class="fa fa-shopping-bag me-2 text-primary"></i> Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="col-12">
                                <div class="pagination d-flex justify-content-center mt-5">
                                    <a asp-page="Shop" asp-route-id="1" asp-route-cateFillter="@ViewData["cateTemp"]" asp-route-search="@ViewData["search"]" class="rounded">First</a>
                                    <a asp-page="Shop" asp-route-id="@(Model.CurrentPage - 1)" asp-route-cateFillter="@ViewData["cateTemp"]" asp-route-search="@ViewData["search"]" class=" rounded">Previous</a>
                                    @for (int i = 1; i <= Model.TotalPages; i++)
                                    {
                                        <a class="rounded" asp-page="Shop" asp-route-id="@i" asp-route-cateFillter="@ViewData["cateTemp"]" asp-route-search="@ViewData["search"]">@i</a>
                                    }
                                    <a class="rounded" asp-page="Shop" asp-route-id="@(Model.CurrentPage + 1)" asp-route-cateFillter="@ViewData["cateTemp"]" asp-route-search="@ViewData["search"]">Next</a>
                                    <a class="rounded" asp-page="Shop" asp-route-id="@Model.TotalPages" asp-route-cateFillter="@ViewData["cateTemp"]" asp-route-search="@ViewData["search"]">Last</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fruits Shop End-->

