@page
@model PRN221_Project.Pages.ADMIN.Manage_Access.IndexModel
@{

    Layout = "/Pages/ADMIN/Shared/_ADMINLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<body id="page-top">
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-primary">Roles</h1>

        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <p>
                    <a asp-page="Create" class="btn btn-primary">Create New</a>
                </p>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Role[0].RoleName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Role[0].Description)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Role)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RoleName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        <a asp-page="./Edit" asp-route-id="@item.RoleId" class="btn btn-success">Edit</a> |
                                        <a asp-page="./Details" asp-route-id="@item.RoleId" class="btn btn-info">Details</a> |
                                        <a asp-page="./Delete" asp-route-id="@item.RoleId" class="btn btn-danger">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Page Content -->
</body>
</html>
